@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    margin-top: 30px;
} */


.formBox {
    width: 38%;
    margin: auto;
    margin-top: 80px;
    border: 1px solid #ddd;
    padding: 23px 27px;
    border-radius: 8px;
}

.formTitle {
    color: #607d8b;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #ff4584;
    display: inline-block;
    letter-spacing: 1px;
    text-align: center;
}

.formBox .inputBox {
    margin-bottom: 20px;
}

.formBox .inputBox span {
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #607d8b;
    font-weight: 300;
    letter-spacing: 1px;
}

.formBox .inputBox input {
    width: 100%;
    padding: 10px 20px;
    font-weight: 400;
    border: 1px solid #607d8b;
    font-size: 16px;
    background: transparent;
    border-radius: 30px;
}

.formBox .inputBox input[type="submit"] {
    background: #ff4584;
    color: #fff;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

.formBox .inputBox input[type="submit"]:hover {
    background: #f53677;
}

.formBox .inputBox p {
    color: #607d8b;
}

.formBox .inputBox p span {
    color: #ff4584;
    cursor: pointer;
}

.formBox .social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formBox .social li {
    list-style: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #607d8b;
    border-radius: 50%;
    margin: 0 7px;
    cursor: pointer;
}

.formBox .social li:hover {
    background: #ff4584;
}



.socialLoginText {
    text-align: center;
}

.horizontal-line {
    background: #2f4f8f;
    height: 1px;
    width: 127px;
}

.google-button {
    border: 1px solid #273C66;
    border-radius: 30px;
    background-color: white;
    transition: .2s;
}

.google-button:hover {
    background-color: rgb(238, 238, 238);
    cursor: pointer;
}


@media screen and (max-width: 768px) {
    .formBox {
        width: 100%;
        padding: 40px;
        background: #fff;
    }

    .formBox h3 {
        color: #607d8b;
        text-align: center;
        margin: 30px 0 10px;
        font-weight: 500;
    }
}